<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Give me the story</title>
  </head>

  <body>
    <section class="section">
      <h1 class="title" style="text-transform: capitalize">{{text}}</h1>
      {% for article in articles %}
      <p>{{ article['title'] }}</p>
      {% endfor %}
    </section>
  </body>

  <link rel="stylesheet" href="../static/node_modules/bulma/css/bulma.css" />
  <link
    rel="stylesheet"
    href="../static/node_modules/bulma-timeline/dist/css/bulma-timeline.min.css"
  />
</html>
