<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Give me the story</title>
  </head>

  <body style="background-color: #9fb8ad" class="main">
    <section class="section">
      <h1 class="title" style="text-transform: capitalize; color: #3f403f">
        GMTS: {{text}}
      </h1>

      <div class="timeline is-centered">
        {% for year in articles %}
        <header class="timeline-header">
          <span class="tag is-primary">{{year}}</span>
        </header>
        {% for article in articles[year] %}
        <div class="timeline-item">
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <p class="heading">{{ article['published date'][:-13]}}</p>
            <div class="box">
              <a href="{{article['url']}}">{{ article['title'] }}</a>
            </div>
          </div>
        </div>
        {% endfor %} {% endfor %}

        <div class="timeline-header">
          <span class="tag is-medium is-primary">Present</span>
        </div>
      </div>

      <!-- {% for article in articles %}
      <p>{{ article['title'] }}</p>
      {% endfor %} -->
    </section>

    <footer class="footer" style="background-color: #ced0ce">
      <div class="content has-text-centered">
        <p>
          <strong>Give me the story</strong> by
          <a href="https://github.com/zainul1996/give-me-the-story-extension"
            >Rush Hour 2022</a
          >.
        </p>
      </div>
    </footer>
  </body>

  <link rel="stylesheet" href="../static/css/main.css" />
  <link rel="stylesheet" href="../static/node_modules/bulma/css/bulma.css" />
  <link
    rel="stylesheet"
    href="../static/node_modules/bulma-timeline/dist/css/bulma-timeline.min.css"
  />
</html>
