#highlightDialog {
  right: 2.5vh;
  top: 5vh;
  bottom: 5vh;
  width: 25vw;
  height: 90vh;
  position: fixed;
  background-color: #e8e6e8;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  padding: 1.25rem;
  z-index: 10000;
}

#selectedText {
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#GMTS_Form .button {
  width: 95%;
}

#GMTS_Form .input {
  width: 95%;
}

.GMTS_Table {
  height: 25%;
  overflow: scroll;
}

.GMTS_Table::-webkit-scrollbar {
  display: none;
}

.modalFooter {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;

  text-align: center;
  color: black;
}
